<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mail Services</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style media="screen">
            .right-button{
                margin-left: 10px;
            }
            li {
                margin-top: 2px;
                margin-bottom: 2px;
            }
            .navbar-center{
                margin: auto;
            }
        </style>
    </head>
    <body>

        {% if user.is_authenticated %}
        <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'mails:receive' %}">DevMail</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a href="{% url 'mails:compose' %}" class="btn btn-primary">
                  Compose
                </a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-center">
              <li id='search'>
                  <form class="form-inline my-2 my-lg-0" action="{% url 'mails:search' subject='h' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" size="50">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                  </form>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li id='sent'>
                <a href="{% url 'mails:sent' sender=user.username %}" class="btn btn-primary right-button">Sent Mails</a>
              </li>
              <li id='logout'>
                  <a href="{% url 'account:logout' %}" class='btn btn-primary right-button'>Logout</a>
              </li>
              <li>
                  <a href="{% url 'account:user_detail' user=user.username pk=1 %}">
                      <span class='far fa-user right-button' style='font-size:28px; margin-top:4px;'></span>
                  </a>
              </li>
        </ul>
          </div>
        </nav>
        </div>
        {% block auth %}{% endblock auth %}
        {% else %}
        {% block noauth %}{% endblock noauth %}
        {% endif %}
    </body>
</html>
