{% extends "base.html" %}

{% block auth %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <a href="#">Primary</a>
            </div>
            <div class="col-md-4">
                <a href="#">Social</a>
            </div>
            <div class="col-md-4">
                <a href="#">Promotions</a>
            </div>
        </div>


    </div>
        <div class="container jumbotron">
            <ul class="list-group">
            {% for mail in object_list %}
                <li class="list-group-item"><a href="{% url 'mails:single' sender=mail.sender pk=mail.pk  %}">{{ mail.subject }}</a></li>
            {% endfor %}
            </ul>
        </div>
{% endblock auth %}
